In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/tripfare-predicting-urban-taxi-fare/taxi_fare.csv

# Load and clean

In [2]:
import pandas as pd 
data='/kaggle/input/tripfare-predicting-urban-taxi-fare/taxi_fare.csv'
# Creating DataFrame
df = pd.read_csv(data)

In [3]:
# Let's perform the first steps of EDA: looking at the basic information of the dataset
df_info = df.info()
df_info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212345 entries, 0 to 212344
Data columns (total 18 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               212345 non-null  int64
 1   tpep_pickup_datetime   212345 non-null  object
 2   tpep_dropoff_datetime  212345 non-null  object
 3   passenger_count        212345 non-null  int64
 4   pickup_longitude       212345 non-null  float64
 5   pickup_latitude        212345 non-null  float64
 6   RatecodeID             212345 non-null  int64
 7   store_and_fwd_flag     212345 non-null  object
 8   dropoff_longitude      212345 non-null  float64
 9   dropoff_latitude       212345 non-null  float64
 10  payment_type           212345 non-null  int64
 11  fare_amount            212345 non-null  float64
 12  extra                  212345 non-null  float64
 13  mta_tax                212345 non-null  float64
 14  tip_amount             212345 non-null  float64
 15  tolls_amount           212345 non-null  float64
 16  improvement_surcharge  212345 non-null  float64
 17  total_amount           212345 non-null  float64
dtypes: float64(11), int64(4), object(3)
memory usage: 29.2+ MB

In [4]:
    # Basic statistics
print("📊 BASIC STATISTICS:")
print(df.describe())

📊 BASIC STATISTICS:
            VendorID  passenger_count  pickup_longitude  pickup_latitude  \
count  212345.000000    212345.000000     212345.000000    212345.000000
mean        1.708338         1.766493        -73.112122        40.279405
std         0.454529         1.469647          7.936633         4.370714
min         1.000000         0.000000       -121.933327         0.000000
25%         1.000000         1.000000        -73.990891        40.740292
50%         2.000000         1.000000        -73.979469        40.755989
75%         2.000000         2.000000        -73.963295        40.770283
max         2.000000         6.000000          0.000000        42.786934

          RatecodeID  dropoff_longitude  dropoff_latitude   payment_type  \
count  212345.000000      212345.000000     212345.000000  212345.000000
mean        1.034152         -73.144178         40.295648       1.324943
std         0.494699           7.794599          4.293031       0.478255
min         1.000000        -121.933327          0.000000       1.000000
25%         1.000000         -73.990570         40.740089       1.000000
50%         1.000000         -73.978691         40.755508       1.000000
75%         1.000000         -73.964645         40.767475       2.000000
max        99.000000           0.000000         42.786934       4.000000

         fare_amount          extra        mta_tax     tip_amount  \
count  212345.000000  212345.000000  212345.000000  212345.000000
mean       12.665588       0.048077       0.497662       1.809357
std        10.875584       0.148103       0.037436       2.507419
min       -52.000000      -0.500000      -0.500000      -2.700000
25%         6.500000       0.000000       0.500000       0.000000
50%         9.500000       0.000000       0.500000       1.350000
75%        14.500000       0.000000       0.500000       2.360000
max       819.500000       4.500000       0.500000     218.950000

        tolls_amount  improvement_surcharge   total_amount
count  212345.000000          212345.000000  212345.000000
mean        0.329049               0.299637      15.649355
std         2.028199               0.014094      13.592129
min         0.000000              -0.300000     -52.800000
25%         0.000000               0.300000       8.300000
50%         0.000000               0.300000      11.620000
75%         0.000000               0.300000      17.160000
max       661.080000               0.300000     832.800000

In [5]:
# Displaying first few rows for a quick look
df_head = df.head()
df_head

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2016-03-01 00:00:00,2016-03-01 00:07:55,1,-73.976746,40.765152,1,N,-74.004265,40.746128,1,9.0,0.5,0.5,2.05,0.00,0.3,12.35
1,1,2016-03-01 00:00:00,2016-03-01 00:11:06,1,-73.983482,40.767925,1,N,-74.005943,40.733166,1,11.0,0.5,0.5,3.05,0.00,0.3,15.35
2,2,2016-03-01 00:00:00,2016-03-01 00:31:06,2,-73.782021,40.644810,1,N,-73.974541,40.675770,1,54.5,0.5,0.5,8.00,0.00,0.3,63.80
3,2,2016-03-01 00:00:00,2016-03-01 00:00:00,3,-73.863419,40.769814,1,N,-73.969650,40.757767,1,31.5,0.0,0.5,3.78,5.54,0.3,41.62
4,2,2016-03-01 00:00:00,2016-03-01 00:00:00,5,-73.971741,40.792183,3,N,-74.177170,40.695053,1,98.0,0.0,0.0,0.00,15.50,0.3,113.80

In [6]:
# Converting pickup and dropoff datetime columns to proper datetime format
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212345 entries, 0 to 212344
Data columns (total 18 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               212345 non-null  int64
 1   tpep_pickup_datetime   212345 non-null  datetime64[ns]
 2   tpep_dropoff_datetime  212345 non-null  datetime64[ns]
 3   passenger_count        212345 non-null  int64
 4   pickup_longitude       212345 non-null  float64
 5   pickup_latitude        212345 non-null  float64
 6   RatecodeID             212345 non-null  int64
 7   store_and_fwd_flag     212345 non-null  object
 8   dropoff_longitude      212345 non-null  float64
 9   dropoff_latitude       212345 non-null  float64
 10  payment_type           212345 non-null  int64
 11  fare_amount            212345 non-null  float64
 12  extra                  212345 non-null  float64
 13  mta_tax                212345 non-null  float64
 14  tip_amount             212345 non-null  float64
 15  tolls_amount           212345 non-null  float64
 16  improvement_surcharge  212345 non-null  float64
 17  total_amount           212345 non-null  float64
dtypes: datetime64[ns](2), float64(11), int64(4), object(1)
memory usage: 29.2+ MB

In [8]:
# Calculating trip duration in minutes
df['trip_duration'] = (df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']).dt.total_seconds() / 60

In [9]:
# Displaying the first few rows to check the conversion and the new column
df[['tpep_pickup_datetime', 'tpep_dropoff_datetime', 'trip_duration']].head()

  tpep_pickup_datetime tpep_dropoff_datetime  trip_duration
0           2016-03-01   2016-03-01 00:07:55       7.916667
1           2016-03-01   2016-03-01 00:11:06      11.100000
2           2016-03-01   2016-03-01 00:31:06      31.100000
3           2016-03-01   2016-03-01 00:00:00       0.000000
4           2016-03-01   2016-03-01 00:00:00       0.000000

In [10]:
print(f"Columns: {list(df.columns)}")

Columns: ['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime', 'passenger_count', 'pickup_longitude', 'pickup_latitude', 'RatecodeID', 'store_and_fwd_flag', 'dropoff_longitude', 'dropoff_latitude', 'payment_type', 'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount', 'trip_duration']

In [11]:
# Data types
print("🔍 DATA TYPES:")
print(df.dtypes)

🔍 DATA TYPES:
VendorID                          int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                   int64
pickup_longitude                float64
pickup_latitude                 float64
RatecodeID                        int64
store_and_fwd_flag               object
dropoff_longitude               float64
dropoff_latitude                float64
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
trip_duration                   float64
dtype: object

In [12]:
# Pickup time features
df['pickup_year'] = df['tpep_pickup_datetime'].dt.year
df['pickup_month'] = df['tpep_pickup_datetime'].dt.month
df['pickup_day'] = df['tpep_pickup_datetime'].dt.day_name()
df['pickup_hour'] = df['tpep_pickup_datetime'].dt.hour

In [13]:
df['dropoff_year'] = df['tpep_dropoff_datetime'].dt.year
df['dropoff_month'] = df['tpep_dropoff_datetime'].dt.month
df['dropoff_day'] = df['tpep_dropoff_datetime'].dt.day_name()
df['dropoff_hour'] = df['tpep_dropoff_datetime'].dt.hour

In [14]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,...,total_amount,trip_duration,pickup_year,pickup_month,pickup_day,pickup_hour,dropoff_year,dropoff_month,dropoff_day,dropoff_hour
0,1,2016-03-01,2016-03-01 00:07:55,1,-73.976746,40.765152,1,N,-74.004265,40.746128,...,12.35,7.916667,2016,3,Tuesday,0,2016,3,Tuesday,0
1,1,2016-03-01,2016-03-01 00:11:06,1,-73.983482,40.767925,1,N,-74.005943,40.733166,...,15.35,11.100000,2016,3,Tuesday,0,2016,3,Tuesday,0
2,2,2016-03-01,2016-03-01 00:31:06,2,-73.782021,40.644810,1,N,-73.974541,40.675770,...,63.80,31.100000,2016,3,Tuesday,0,2016,3,Tuesday,0
3,2,2016-03-01,2016-03-01 00:00:00,3,-73.863419,40.769814,1,N,-73.969650,40.757767,...,41.62,0.000000,2016,3,Tuesday,0,2016,3,Tuesday,0
4,2,2016-03-01,2016-03-01 00:00:00,5,-73.971741,40.792183,3,N,-74.177170,40.695053,...,113.80,0.000000,2016,3,Tuesday,0,2016,3,Tuesday,0

In [15]:
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'pickup_longitude', 'pickup_latitude', 'RatecodeID',
       'store_and_fwd_flag', 'dropoff_longitude', 'dropoff_latitude',
       'payment_type', 'fare_amount', 'extra', 'mta_tax', 'tip_amount',
       'tolls_amount', 'improvement_surcharge', 'total_amount',
       'trip_duration', 'pickup_year', 'pickup_month', 'pickup_day',
       'pickup_hour', 'dropoff_year', 'dropoff_month', 'dropoff_day',
       'dropoff_hour'],
      dtype='object')

In [16]:
# Weekend indicator
# df['is_weekend'] = (df['pickup_weekday'] >= 5).astype(int)
# This is will not work as the given the has been filtered only for tuesday and thursday which falls in weekdays.

In [17]:
# AM/PM indicator
df['is_pm'] = (df['pickup_hour'] >= 12).astype(int)
df['is_pm'] = (df['dropoff_hour'] >= 12).astype(int)

In [18]:
# Night ride indicator (10 PM to 6 AM)
df['is_night'] = ((df['pickup_hour'] >= 22) | (df['pickup_hour'] <= 6)).astype(int)
df['is_night'] = ((df['dropoff_hour'] >= 22) | (df['dropoff_hour'] <= 6)).astype(int)

In [19]:
# Rush hour indicators
df['is_morning_rush'] = ((df['pickup_hour'] >= 7) & (df['pickup_hour'] <= 9)).astype(int)
df['is_evening_rush'] = ((df['pickup_hour'] >= 17) & (df['pickup_hour'] <= 19)).astype(int)
df['is_morning_rush'] = ((df['dropoff_hour'] >= 7) & (df['dropoff_hour'] <= 9)).astype(int)
df['is_evening_rush'] = ((df['dropoff_hour'] >= 17) & (df['dropoff_hour'] <= 19)).astype(int)

In [20]:
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'pickup_longitude', 'pickup_latitude', 'RatecodeID',
       'store_and_fwd_flag', 'dropoff_longitude', 'dropoff_latitude',
       'payment_type', 'fare_amount', 'extra', 'mta_tax', 'tip_amount',
       'tolls_amount', 'improvement_surcharge', 'total_amount',
       'trip_duration', 'pickup_year', 'pickup_month', 'pickup_day',
       'pickup_hour', 'dropoff_year', 'dropoff_month', 'dropoff_day',
       'dropoff_hour', 'is_pm', 'is_night', 'is_morning_rush',
       'is_evening_rush'],
      dtype='object')

In [21]:
# Fare per mile and fare per minute
# df['fare_per_mile'] = df['fare_amount'] / (df['trip_distance_calculated'] + 1e-8)
# df['fare_per_minute'] = df['fare_amount'] / (df['trip_duration_minutes'] + 1e-8)

In [22]:
# Speed (miles per hour)
# df['speed_mph'] = (df['trip_distance_calculated'] * 60) / (df['trip_duration_minutes'] + 1e-8)

In [23]:
# df.drop['tpep_pickup_datetime', 'tpep_dropoff_datetime','fare_amount', 'extra', 'mta_tax', 'tip_amount','tolls_amount', 'improvement_surcharge']

In [24]:
# Passenger density feature
# df['fare_per_passenger'] = df['fare_amount'] / (df['passenger_count'] + 1e-8)

In [25]:
# import math

In [26]:
# def haversine_distance(lon1, lat1, lon2, lat2):
#     """
#     Calculate the great circle distance between two points on Earth (in miles)
#     using the Haversine formula

#     Parameters:
#     lon1, lat1, lon2, lat2 (float): Longitude and latitude coordinates

#     Returns:
#     float: Distance in miles
#     """
#     # Convert decimal degrees to radians
#     lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])

#     # Haversine formula
#     dlon = lon2 - lon1
#     dlat = lat2 - lat1
#     a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
#     c = 2 * asin(sqrt(a))

#     # Radius of earth in miles
#     r = 3956

#     return c * r

In [27]:
# def feature_engineering(df):
#     """
#     Create new features from existing columns

#     Parameters:
#     df (pd.DataFrame): Input dataset

#     Returns:
#     pd.DataFrame: Dataset with engineered features
#     """
#     print("🔧 Starting Feature Engineering...")
#     df_fe = df.copy()

#     # Calculate trip distance using Haversine formula
#     print("📏 Calculating trip distances...")
#     df_fe['trip_distance_calculated'] = df_fe.apply(
#         lambda row: haversine_distance(
#             row['pickup_longitude'], row['pickup_latitude'],
#             row['dropoff_longitude'], row['dropoff_latitude']
#         ), axis=1
#     )

#     # Extract time-based features
#     print("⏰ Extracting time-based features...")
#     print(f"✅ Feature engineering completed!")
#     print(f"📊 New dataset shape: {df_fe.shape}")

#     return df_fe

In [28]:
# # Uncomment to apply feature engineering
# df_engineered = feature_engineering(df)